# Server Port
PORT=3002

# Supabase Credentials (Get these from Supabase Dashboard -> Project Settings -> API)
SUPABASE_URL = https://mplbpwodouwqlcdblsxq.supabase.co/rest/v1/
SUPABASE_KEY=sb_publishable_hZglfoezzSFSD9x3B9qFag_gyr7GEqa

# Meta WhatsApp Cloud API Credentials
META_ACCESS_TOKEN=your_meta_access_token
META_PHONE_NUMBER_ID=your_phone_number_id
VERIFY_TOKEN=your_webhook_verify_token

# Google Gemini API Key
GEMINI_API_KEY=AQ.Ab8RN6LAwIvVea49dSRP_J83LuOZN7hYEQuGD6dRUMF3K8A5Ig
